fastapi
uvicorn
celery
pydantic-settings
sqlalchemy
asyncpg
psycopg2-binary
python-dotenv
langgraph
langchain
langchain-openai
langchain-qdrant
langchain-ollama
qdrant-client
transformers
sentence-transformers
pypdf
weasyprint
jinja2
pytest